<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ADAKADAK{% block title %}{% endblock %}</title>
    <meta name="description" content="Responsive Header Nav">
    <meta name="author" content="Serg N. Kalachev <serg@kalachev.ru>">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="/css/styles.css">
    {% block stylesheets %}{% endblock %}
    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

    <header>

        <a href="/" id="logo"></a>

        <nav>

            <a href="#" id="menu-icon"></a>

            <ul>
                <li>    <audio controls autoplay loop preload="auto" style=" width:300px;">
        <source src="/audio/intro.mp3" type="audio/mpeg">
        {% trans %}warning.noaudio{% endtrans %}
    </audio></li>
                <li><a href="#" class="current">{% trans %}menu.home{% endtrans %}</a></li>
                <li><a href="#">{% trans %}menu.about{% endtrans %}</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/ru/">Русский</a></li>
                <li><a href="/en/">English</a></li>

            </ul>

        </nav>

    </header>

    <section>
        {% block body %}{% endblock %}
    </section>

    {% block javascripts %}{% endblock %}
</body>
</html>
