{% extends 'base.html.twig' %}

{% block body %}
  <div class="navigation-bar">


    <div id="navigation-container">

      <img src="/images/logo_small.jpg">

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Get in Touch</a></li>
      </ul>
    </div>


    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>ADAKADAK</h1>
            </div>

   
<article class="comic">
  <div class="panel">
    <p class="text top-left">{% trans %}strange.song{% endtrans %}</p>
    <p class="text bottom-right">...something amazing happened</p>
  </div>
  <div class="panel">
    <p class="text top-left">Try resizing...</p>
    <p class="text bottom-right">...it's responsive</p>
  </div>
  <div class="panel">
    <p class="speech">A speech bubble</p>
  </div>
  <div class="panel"></div>
  <div class="panel"></div>
  <div class="panel"></div>
  <div class="panel"></div>
  <div class="panel">
    <p class="text bottom-right">THE END</p>
  </div>
</article>



        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
html, body {
  margin:0;
  padding:0;
}
    /*body { background: #F5F5F5; font: 18px/1.5 sans-serif; }*/
/*    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
*/
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    /*code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }*/
    #wrapper { background: #FFF; margin: 1em auto; width: 95%; }
    #container { padding: 2em; 
/*    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
*/

    }
/*    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
*/

.comic {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
  display:flex;
  flex-wrap:wrap;
  font-family:'Comic Sans', cursive;
  padding:1vmin;
}

.panel {
  background-color:#fff;
  border:solid 2px #000;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  height:200px;
  margin:1vmin;
  overflow:hidden;
  position:relative;
}

.text {
  background-color:#fff;
  border:solid 2px #000;
  margin:0;
  padding:3px 10px;
}

.top-left {
  left:-6px;
  position:absolute;
  top:-2px;
  transform:skew(-15deg);
}

.bottom-right {
  bottom:-2px;
  position:absolute;
  right:-6px;
  transform:skew(-15deg);
}

.speech {
  background-color:#fff;
  border:solid 2px #000;
  border-radius:12px;
  display:inline-block;
  margin:.5em;
  padding:.5em 1em;
  position:relative;
}

.speech:before {
  border:solid 12px transparent;
  border-left:solid 12px #000;
  border-top:solid 12px #000;
  bottom:-24px;
  content:"";
  height:0;
  left:24px;
  position:absolute;
  transform:skew(-15deg);
  width:0;
}

.speech:after {
  border:solid 10px transparent;
  border-left:solid 10px #fff;
  border-top:solid 10px #fff;
  bottom:-19px;
  content:"";
  height:0;
  left:27px;
  position:absolute;
  transform:skew(-15deg); 
  width:0;
}

.panel:nth-child(1) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/1.jpg') center no-repeat;
  background-size: 100% 100%;
}
.panel:nth-child(2) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/2.jpg') center no-repeat;
  background-size: 100% 100%;
}
.panel:nth-child(3) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/3.jpg') center no-repeat;
  background-size: 100% 100%;
}
.panel:nth-child(4) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/4.jpg') center no-repeat;
  background-size: 100% 100%;
}
.panel:nth-child(5) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/5.jpg') center no-repeat;
  background-size: 100% 100%;
}
.panel:nth-child(6) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/6.jpg') center no-repeat;
  background-size: 100% 100%;
}
.panel:nth-child(7) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/7.jpg') center no-repeat;
  background-size: 100% 100%;
}
.panel:nth-child(8) {
  flex-basis: 350px;
  background: url('/images/comics/mainpage/8.jpg') center no-repeat;
  background-size: 100% 100%;
}

.logo {
  float: left;
}
/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background-color: #f89b02;
  height: 70px;
  width: 100%;
  text-align:center;
}
.navigation-bar img{
  float:left;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: black;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  opacity: 0.7;
}

#menu {
  float: right;
}


</style>
{% endblock %}
