{% extends 'base.html.twig' %}


{% block body %}

<article class="comic">
  <div class="panel">
    <p class="text top-left">{% trans %}label.panel1{% endtrans %}</p>
  </div>
  <div class="panel">
    <p class="speech speech1">{% trans %}speech.bubble.alien1{% endtrans %}</p>
    <p class="speech speech2">{% trans %}speech.bubble.alien2{% endtrans %}</p>

  </div>
  <div class="panel">
    <p class="text bottom-right">{% trans %}label.panel3{% endtrans %}</p>
  </div>
  <div class="panel">
    <p class="text top-left">{% trans %}label.panel4{% endtrans %}</p>
  </div>
  <div class="panel">
    <p class="text bottom-right">{% trans %}label.panel5{% endtrans %}</p>
  </div>
  <div class="panel">
    <p class="text top-right">{% trans %}label.panel6{% endtrans %}</p>
  </div>
  <div class="panel">
    <p class="text bottom-right">{% trans %}label.panel7{% endtrans %}</p>
  </div>
  <div class="panel">
    <p class="text bottom-left">{% trans %}label.panel8{% endtrans %}</p>
  </div>
</article>

{% endblock %}
